*{
	margin: 0; 
	padding: 0;
}

nav{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 100px;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
}

ul{
	display: flex;
	justify-content: space-between;
	width: 80%;
	align-items: center;
	flex-direction: row;
	list-style-type: none;
}

.right-nav{
	display: flex;
	justify-content: space-evenly;
	width: 53%;
	align-items: center;
	flex-direction: row;
}

body{
	font-family: 'Open Sans';
	background-color: white;
}

#bg-image{
	background-image: url("https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	background-position: center;
}

.sticky{
	position: sticky;
	top: 0;
}

.tuitt-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	border: none;
	font-size: 1rem;
	padding: 0.5rem 1.5rem;
}

.front-bg{
	background-color: #00000090;
	height: 100%;
	width: 100%;
}

.container{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 90%;
	height: 80%;
	align-items: flex-end;
}
.intro{
	margin: auto;
	height: 25vh;
	margin: auto;
 	width: 60%;
 	border: 3px;
  	padding: 50px;
  	font-weight: light;
}

.title, .title-2{
	font-family: 'Zilla Slab';
}

.title{
	font-weight: bolder;
	color: white;
	text-align: right;
	font-size: 3rem;
	width: 37%;
}

.title-2{
	text-align: center;
	font-weight: bolder;
	padding: 10px;
	margin-bottom: 1rem;
}

.subtitle{
	text-align: right;
	color: white;
	font-size: 1.3em;
	width: 28%;
}

.apply-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.7rem 3rem;
	border: none;
}

.intro-description{
	padding: 35px;
	text-align: justify;
}
.pre-footer{
	background-color: #f7fbfb;
	text-align: center;
	height: 25vh;
	margin: auto;
 	width: 100%;
 	border: 3px;
  	padding: 50px;
  	font-weight: light;	
}

.prefooter-description{
	padding: 10px;
	font-size: 1em;
	margin-bottom: 1rem;
}

.book-button{
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.5rem;
	top: 1rem;
	width: 10rem;
	border: none;
}

footer{
	padding: 0.7rem;
	text-align: center;
	font-size: 1em;
}

footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
